MCP_HTTP_ADDR=8080
MCP_TRANSPORT=sse

DATABASE_SERVER_NAME_0="mysql-localhost"
DATABASE_SERVER_ENGINE_0="mysql"
DATABASE_HOST_0="127.0.0.1"
DATABASE_PORT_0=3306
DATABASE_USER_0=your_mysql_user
DATABASE_PASSWORD_0=your_mysql_password

DATABASE_SERVER_NAME_1="mysql-online"
DATABASE_SERVER_ENGINE_1="mysql"
DATABASE_HOST_1="53.2.55.7"
DATABASE_PORT_1=3306
DATABASE_USER_1=your_mysql_user
DATABASE_PASSWORD_1=your_mysql_password

DATABASE_SERVER_NAME_2="postgres-localhost"
DATABASE_SERVER_ENGINE_2="postgres"
DATABASE_HOST_2="127.0.0.1"
DATABASE_PORT_2=5432
DATABASE_USER_2=your_postgres_user
DATABASE_PASSWORD_2=your_postgres_password
DATABASE_NAME_2=your_postgres_db_name